@using PortfolioDotnet.Models 
@model IEnumerable<Project>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="section-header center-align">Here is a selection of my most starred projects on GitHub</h3>

<div>
    @foreach(var project in Model)
    {
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <a href="@project.html_url">@project.name</a>
                </span>

                <p>Written primarily in @project.language</p>
                <h5>@project.description</h5>
                @if(@project.homepage != "")
                {
                    <a href="@project.homepage">Deployed site viewable here</a>
                }
            </div>
            <div class="card-action">
                <div class="chip">
                    Stars: @project.stargazers_count
                </div>
                <div class="chip">
                    Forks: @project.forks
                </div>
            </div>
        </div>

    }
</div>